{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-3">
            <p>Ta dan ste deleali <span class="hours-worked">{{ hours_worked }}</span> ur</p>
            <p>za porazdelitev vam je ostalo še <span class="time-left"></span> ur.</p>
        </div>
        <div class="col-6">
            <form class="divide-form" method="post" action="">
                {% csrf_token %}
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Ime projekta</th>
                            <th scope="col">število ur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% with forloop.counter as x %}
                                <tr>
                                    {% for project in available_projects %}
                                        {% if project.id == x %}<th scope="row">{{ project.title }}</th>{% endif %}
                                    {% endfor %}
                                    {% for field in form %}
                                        {% if field.name == 'hours_worked' %}<td>{{ field }}</td>{% endif %}
                                    {% endfor %}
                                </tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-lg">Vnesi</button>
                <div class="row">
                    <div class="col-4">
                        
                    </div>
                    <div class="alertz col-4">
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}