{% extends 'base.html' %}

{% block content %}

    {% if validlink %}
        <p>Prosimo vnesite (in potrdite) vaše novo geslo.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="form-group">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Novo geslo:</label>
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Potrdite geslo:</label>
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Spremeni geslo</button>
        </form>
    {% else %}
        <h1>Ponastavitev gesla ni uspela</h1>
        <p>Povezava za ponastavitev gesla ni bila veljavna, lahko da je bila enkrat že uporabljena. Prosim zhtevajte novo ponastavitev gesla.</p>
    {% endif %}

{% endblock %}